<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nail Diagnosis System</title>
    <link rel="stylesheet" href="{{url_for('static',filename='Styles.css')}}">
</head>
<body>
    <header>
        <h1>Welcome to the Nail Diagnosis System</h1>
        <nav>
            <a href="{{url_for('home')}}">Home</a>
            <a href="{{url_for('about')}}">About</a>
            <a href="{{url_for('nailprediction')}}">Nail Prediction</a>
        </nav>
    </header>
    <main>
        <section>
            <h2>Early Stage Diagnosis Using Nail Images</h2>
            <p>"<span class="para">Early Stage Diagnosis Using Nail Images"</span> is an AI-based system designed to detect potential health conditions by analyzing images of human nails. Since nails can reflect a wide range of underlying medical issues—such as nutritional deficiencies, skin diseases, or systemic disorders—this project leverages deep learning techniques to assist in early diagnosis.</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 Nail Diagnosis System</p>
    </footer>
</body>
</html>
